*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.f_container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #9fd3c7;
    
}
.col_1{
    margin: 10px;
}
h4{
    color: white;
}
p{
    color: white;
}
