.poke-body{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.poke-container-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.poke-card{
    width: 200px;
    border: 2px solid red;
    margin: 5px;
    
}
.card-header{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    
}
.poke-info{
    width: 100%;
    height: 100%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: yellow;
    
}
.poke-img{
    width: 90%;
    height: 80%;
    
}
.poke-button{
    margin: 5px;
    width: 100px;
    border-radius: 15%;
    border: 1px solid rgb(247,83,38) ;
    background-color: rgb(32,202,173);
}