@import url('http://fonts.cdnfonts.com/css/pokemon-solid-2');
.poke-body{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-family: 'Pokemon Solid', sans-serif; ;
    font-weight: 100;
    
                                                 
}
.poke-container-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.poke-card{
    width: 200px;
    margin: 5px;
    display: flex;
    align-items: center;    
}
.card-header{
    width: 100%;
    display: flex;
    justify-content: center;
   
    
}
h3{
color: rgb(144,6,24);
font-size: 30px;

}
h4{
color: rgb(144,6,24);

}
.poke-info{
    width: 100%;
    height: 100%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: yellow;
    
}
.poke-img{
    width: 300px;
    height: 300px;
    
}
.poke-button{
    margin: 5px;
    width: 100px;
    border-radius: 15%;
    border: 1px solid rgb(247,83,38) ;
    background-color: rgb(32,202,173);
}